.App {
  background-image: url("images/overlay3.svg"), linear-gradient(-135deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  height: 100;
  padding: 1px;
}

.alt {
	text-align: center;
	vertical-align: middle;
}

#header .logo img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	clip-path: circle(35% at 50% 55%);
} 

#wrapper {
	width: 80em;
	max-width: calc(100% - 4em);
	margin: 0 auto;
}

.heading {
	padding-top: 100px;
	padding-bottom: 10px;
	color: rgb(24, 24, 231);
	text-align: center;
	/* border-bottom: 7px solid burlywood; */
	
}

.line{
	display: block;
    content: '';
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
    margin: 2em 4em 1em 4em;
	border-radius: 2px;
	background-image: linear-gradient(#efa8b0, #a89cc8, #8cc9f0);
}

.mid {
	justify-content: center;
}
/* Navigation */

#nav {
	box-sizing: border-box;
	padding: 1em 4em;
	background-color: #fffffffa;
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 1;
}

/* ul {
	margin: 0px;
	padding: 0px;
} */

li {
	display: inline-block;
	margin: 0 1.35em;
	/* padding: 0; */
	vertical-align: middle;
	font-size: 20px;
}

a {
	line-height: 2.25em;
	padding: 0 1.25em;
	border-radius: 8px;
	box-shadow: inset 0 0 0 1px transparent;
	
}

a:hover {
	color: #22e722;
	background-color: rgba(222, 222, 222, 0.25);
}


	/* Skills */
.icon {
	width: 150px;
	height: 150px;
	margin: 40px 0px; 
}
.container {
	background-color: #f7f7f7;
	
	max-width: 100%;
	margin-right: 0px;
	margin-left: 0px; 
}
.squeeze {
	padding: 0px 60px;
}

.col  {
	/* padding: 0px 20px; */
	/* margin: 10px; */
}

	/*Projects*/

.row-content {
	box-sizing: border-box;
	padding: 20px;
	border-bottom: 5px ridge;
	/* min-height: 200px; */
}