.App {
  background-image: url("images/overlay3.svg"), linear-gradient(-135deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  height: 100;
  padding: 1px;
  background-position: center;
  background-size: cover;
}

.alt {
	text-align: center;
	vertical-align: middle;
}

#header .logo img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	clip-path: circle(35% at 50% 55%);
} 

#wrapper {
	width: 80em;
	max-width: calc(100% - 4em);
	margin: 0 auto;
}

.heading {
	padding-top: 100px;
	padding-bottom: 10px;
	color: rgb(0, 0, 0);
	text-align: center;
}

@media screen and (max-device-width: 730px) {
	.heading {
		padding-top: 25px;
	}
  }

.line{
	display: block;
    content: '';
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
    margin: 2em 4em 1em 4em;
	border-radius: 2px;
	background-image: linear-gradient(#efa8b0, #a89cc8, #8cc9f0);
}

.mid {
	justify-content: center;
}

.fit {
	height: 100%;
	width: 100%;
}

/* Navigation */

@media screen and (max-device-width: 730px) {
	#nav {
		display: none;
	}
  }

#nav {
	box-sizing: border-box;
	padding: 1em 2em;
	background-color: #f3f3f3fa;
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 1;
}

li {
	display: inline-block;
	margin: 0 1.35em;
	/* padding: 0; */
	vertical-align: middle;
	font-size: 20px;
}

#nav a {
	color: black;
	line-height: 2.25em;
	/* padding: 0 1.25em; */
	border-radius: 8px;
	text-decoration: none;

	/* box-shadow: inset 0 0 0 1px transparent; */
	
}

#nav a:hover {
	/* color: #22e722; */
	background-color: rgba(192, 58, 58, 0.25);
}


	/* Skills */

@media screen and (max-device-width: 730px) {
	#skills {
		border-top-left-radius: 0.25em;
		border-top-right-radius: 0.25em;
	}

	#skills .icon {
		width: 75px;
		height: 75px;
		margin: 25px 0px;
	}

	#skills .squeeze {
		padding: 0px 30px;
	}
}	

.icon {
	width: 150px;
	height: 150px;
	margin: 40px 0px; 
}
.container {
	background-color: #f7f7f7;
	
	max-width: 100%;
	margin-right: 0px;
	margin-left: 0px; 
}
.squeeze {
	padding: 0px 60px;
}

	/*Projects*/

.row-content {
	box-sizing: border-box;
	padding: 20px;
	border-bottom: 3px ridge;
}

.photo {
	object-fit: cover;
}

#projects p {
	font-size: 25px;
	font-style: normal;
	font-weight: lighter;
}

	/* About Me */

@media screen and (max-device-width: 730px) {
	#bio .para {
		padding: 25px
	} 
}

.para {
	padding: 100px 50px;
}

#bio p {
	font-size: 25px;
	font-family: 'Sura', serif;
}

	/* Contact */

	@media screen and (max-device-width: 730px) {
		#contact {
			padding-bottom: 50px;
			margin-bottom: 50px
		} 

		.footcon {
			margin: 20px 0px;
		}
	}

#contact {
	padding-bottom: 100px;
	margin-bottom: 100px
}

#contact a {
	color: black;
}


.footcon {
	width: 50px;
	height: 50px;
	margin: 40px 0px; 
}